@import 'tailwindcss';

body {
	font-family: 'Inter', sans-serif;
}

/* кнопка */
.btn {
	background: black;
	color: white;
	padding: 10px 16px;
	border-radius: 8px;
}

/* посилання (з тінню як в ТЗ) */
.link {
	transition: box-shadow 0.3s ease;
}

.link:hover {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
